<%- include('header')%>
        
  
    
  <div class="container mt-5">
    <%
                  if(message!='')
                  {%>
                  <h1> <%= message %></h1>
                  <%}
          %>
  
     <div class="row">
       
            <h3 class="table_main">password List</h3>
        <table class="table table-striped mt-2">
                <thead>
                    <tr>
                        <th class="table_heading">password catagory Name</th>

                        <th class="table_heading">Project name</th>
                       
                        <th class="table_heading">Action</th>
                    </tr>
                </thead>
          
            <tbody class="table table-striped bg-none">
                    <% if(records.length>0){
              records.forEach(function(low){ %>
                 <tr>
                   
                   <td class="table_body"><%=low.passwordCatagory  %> </td> 
                    <td class="table_body"><%=low.projectDetail %> </td> 
               
                  <td>
               <button type="button" class="btn btn-info btn-xs buttons" data-toggle="modal" data-target="#myModal"  href="/edit/"><i class="fa fa-eye"></i></button>    
                        <a class="btn btn-primary btn-xs buttons" href="/view_all_password/edit/<%=low._id%>"><i class="fa fa-edit"></i></a>     
                        <a class="btn btn-danger btn-xs buttons" href="/view_all_password/delete/<%=low._id%>"><i class="fa fa-trash"></i></a> 

                    </td>
                    
                 </tr>
                      
                      <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">



                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title"> <span style="color: cornflowerblue;" >project Name :  </span><%=low.projectDetail %></h4>
                              <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle "></i></button>
                            
                            </div>
                            <div class="modal-body">
                            <span style="color: black; font-size:20px;" >details  </span>
                             <%-low.passworddetail  %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default close_btn" data-dismiss="modal"><h3>close</h3></button>
                            </div>
                          </div>

                        </div>
                      </div>




                <% }) } %> 
            </tbody>
        </table>
      
     </div>
  </div>

</body>
</html>